body {
    background-image: url(./Images/clouds.avif);
}

label {
    font-size: 30px;
}

#result {
    visibility: hidden;
}

#help {
    font-size: 18px;
}

#submit {
    font-size: 20px;
    border-radius: 20px;
    background-color: antiquewhite;`
}

.title, #name, #lookup {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 10%;
}

.title{
    color: rgb(182, 45, 4);
}